* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 a {
    text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

#d1{
  width: 100%;
  background-color: blue;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
}

main{
  max-width: 600px;
  margin-left: 700px;
}

/*Aggiunta per scorrere la pagina*/
p{
  margin: 60px;
}