* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

 a {
    text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

#head1{
  height: 150px;
  width: 200px;
  border: 1px dashed #4f768e;
  padding: 20px;
  margin-bottom: 30px;
}

#p1{
  height: 150px;
  width: 200px;
  padding: 20px;
  border: 1px solid black;
  box-sizing: content-box;
}